h4
  span.forked-from
    font-size 12px
    color #666

.project-subnav
  mt 25px

  .header-li

    h4
      margin 8px 10px -10px 0

.toggle-my-all-projects
  fs .65em
  fw normal
  pl 12px

.new-project-btn
  mr 25px

.projects-list
  mt 25px
  ml 0
  list-style none

  li
    pb 1.3em

    .project-title
      text-
      font-family "News Cycle", "Arial Narrow Bold", sans-serif
      fs 1.4em
      fw normal
      color #D66B24

      &:before
        content "\00BB \0020"
  &.home-page-projects
    mt 20px

.background-form
  textarea
    width 100%
    max-width 100%
    box-sizing border-box
    min-height 280px


