.top-applicant-table
  margin 0

.load-more-applicants-button
  margin 10px 0 30px

#new-vendor-form
  h5
    color #317EAC
    .smaller
      color #999
      fw normal
  .wysiwyg-wrapper
    textarea
      width 100%
      box-sizing border-box
      min-height 250px

  .why-great-fellow
    padding-bottom 5px

    textarea
      box-sizing border-box
      min-height 85px
      width 100%

  .project
    padding 10px
    label.checkbox
      fw bold
    textarea
      box-sizing border-box
      min-height 85px
      width 345px
    &:hover
      bgc #FBFBEA

  .wysiwyg-wrapper

    .help-inline
      color #b94a48

    &.error
      border 1px solid #b94a48