.modal.hide#keyboard-shortcuts-modal(tabindex="-1", role="dialog")
  .modal-header
    button.close(type='button', data-dismiss='modal') &times;
    h3 Keyboard Shortcuts
  .modal-body
    h5 Review Bids

    dl.dl-horizontal.dl-no-margin
      dt
        code k
      dd Move selection up

      dt
        code j
      dd Move selection down

      dt
        code a
      dd mark as unread

      dt
        code s
      dd thumbs up selection

      dt
        code f
      dd thumbs down selection

      dt
        code d
      dd no vote selection

      dt
        code o
        small or
        code return
      dd open selection

      dt
        code cmd+del
      dd mark as spam

      dt
        code ?
      dd show help
