#bids-table
  tbody
    border none

  .main-bid
    &:hover
      background-color #efefef

  .bid-sidebar
    ml 35px

    table
      width 100%

  .vendor-name
    width 100%
    display block
    padding-top 10px
    padding-bottom 10px
    margin-top -10px
    margin-bottom -10px

  .bid-details-wrapper
    border 0
    padding 0
    bgc white

  .bid-details
    padding 8px

    h1, h2, h3
      fs 1.2em

    .projects-applied
      border-top dotted 1px #CCC
      p
        fs .8em

  .anyone-read
    color #aaa
    font-family "News Cycle", "Arial Narrow Bold", sans-serif;
    position relative
    top 2px

.search-subheader
  height 20px
