#bids-table
  tbody
    border none
    bgc #efefef

    &.selected
      background-color #fff

      .nav-tabs > .active > a
        background-color #fff
        color #444

      .detailed-score
        display inline !important


  .vendor-name
    width 100%
    display block
    padding-top 10px
    padding-bottom 10px
    margin-top -10px
    margin-bottom -10px
    text-decoration none

  .bid-details-wrapper
    border 0
    padding 0

  .bid-details
    padding 8px
    bgc white

  .bid-tab-wrapper
    padding 0 5px

  .anyone-read
    color #aaa
    font-family "News Cycle", "Arial Narrow Bold", sans-serif;
    position relative
    top 2px
    font-size 11px

  .detailed-score
    display none
    color #aaa
    margin-left 10px

.show-refer
  text-decoration underline
  fw bold

#bid-review-pagination-wrapper
  .pagination
    margin 0

.search-subheader
  height 20px
