#bids-table
  tbody
    border none

    &:hover
      background-color #efefef

  .vendor-name
    width 100%
    display block
    padding-top 10px
    padding-bottom 10px
    margin-top -10px
    margin-bottom -10px

  .bid-details-wrapper
    border 0
    padding 0

  .bid-details
    padding 8px

  .anyone-read
    color #aaa
    font-family "News Cycle", "Arial Narrow Bold", sans-serif;
    position relative
    top 2px