.navbar-static-top.with-logo
  mb 20px
  bgc #0F132E

  .navbar-inner
    bgc #0F132E

    .container

      .nav
        li
          a
            color #fff

      .dropdown-menu
        li
          a
            color #000

      .brand
        color #fff
        padding 20px 0 0 20px
        height 120px
        width 490px

.notification-nav-item
  position relative

  .unread-notification-badge
    position absolute
    top 7px
    right -10px

.officer-toolbar
  pt 25px

.sow-toolbar
  pt 20px

.navbar
  .nav
    li
      a
        fs 12px
        &:hover
          background #427ba9
          background rgba(0,0,0,.2)