.logo-header
  mb 40px
  bgc #0F132E
  padding 10px 0
  .brand
    height 120px
    width 490px

.notification-nav-item
  position relative

  .unread-notification-badge
    position absolute
    top 7px
    right -10px

.officer-toolbar
  pt 25px

.sow-toolbar
  pt 20px

.navbar
  .nav
    li
      a
        fs 12px
        &:hover
          background #427ba9
          background rgba(0,0,0,.2)