- Section::inject('page_title', 'Application Received')

p.main-description
  | Your application has been received. You will receive an email confirmation shortly. Thanks for applying and being
  | willing to use your time and skills to better your government.

h4 Voluntary Demographic Survey

p.main-description
  | The White House is committed to equal opportunity, diversity, and inclusion in the Presidential Innovation Fellowship program.
  | Help us measure our progress by taking the following, voluntary survey.


.row-fluid

  .span6
    form(action="#{route('vendor_applied', $vendor->demographic_survey_key)}", method="POST")
      fieldset
        h5 Gender
        select(name="gender")
          option(value="")
          option(value="Male") Male
          option(value="Female") Female
          option(value="Other") Other

        h5 Race and Ethnicity

        strong Are you A:

        label.checkbox
          input(type="checkbox", name="race[]", value="hispanic_latino", data-checkbox-group="a")
          | Hispanic or Latino
          != Helper::helper_tooltip("A person of Cuban, Mexican, Puerto Rican, South or Central American, or other Spanish culture or origin regardless of race.", "right", false, true)

        strong OR B: (select up to two)

        label.checkbox
          input(type="checkbox", name="race[]", value="white", data-checkbox-group="race", data-checkbox-max="2")
          | White
          != Helper::helper_tooltip("A person having origins in any of the original peoples of Europe, the Middle East, or North Africa.", "right", false, true)

        label.checkbox
          input(type="checkbox", name="race[]", value="black", data-checkbox-group="race", data-checkbox-max="2")
          | Black or African American
          != Helper::helper_tooltip("A person having origins in any of the black racial groups of Africa.", "right", false, true)

        label.checkbox
          input(type="checkbox", name="race[]", value="pacific_islander", data-checkbox-group="race", data-checkbox-max="2")
          | Native Hawaiian or Other Pacific Islander
          != Helper::helper_tooltip("A person having origins in any of the peoples of Hawaii, Guam, Samoa, or other Pacific Islands.", "right", false, true)

        label.checkbox
          input(type="checkbox", name="race[]", value="asian", data-checkbox-group="race", data-checkbox-max="2")
          | Asian
          != Helper::helper_tooltip("A person having origins in any of the original peoples of the Far East, Southeast Asia, or the Indian Subcontinent, including, for example, Cambodia, China, India, Japan, Korea, Malaysia, Pakistan, the Philippine Islands, Thailand, and Vietnam.", "right", false, true)

        label.checkbox
          input(type="checkbox", name="race[]", value="american_indian", data-checkbox-group="race", data-checkbox-max="2")
          | American Indian or Alaska Native
          != Helper::helper_tooltip("A person having origins in any of the original peoples of North and South America (including Central America), and who maintain tribal affiliation or community attachment.", "right", false, true)

      .form-actions
        button.btn.btn-primary Submit

  .span6
    .well
      p
        strong WHITE HOUSE PRESIDENTIAL INNOVATION FELLOWS EEO SURVEY – APPLICANT VOLUNTARY SELF-IDENTIFICATION FORM

      p
        | Providing this information is voluntary and providing or refusing to provide it will not subject you to any adverse treatment.
        | The information you provide will only be used for equal employment and diversity recordkeeping and reporting required by law.
        | The information you provide is also confidential.

      p
        | To comply with federal equal employment opportunity recordkeeping and reporting requirements, the White House
        | offers applicants the opportunity to complete this self-identification form to obtain certain demographic information.
        | The information will be used only in accordance with the provisions of applicable laws, regulations and executive orders,
        | including those that require information to be summarized and reported to the government.
