- Section::inject('page_title', 'Apply for the Spring 2013 Class')


form#new-vendor-form(action="#{route('vendors')}", method="POST")

  !{View::make('users.account_vendor_fields')->with('vendor', Input::old('vendor'))->with('user', Input::old('user'))->with('signup', true)->with('projects', $projects)}

  .form-actions
    button.btn.btn-warning(type="submit") Submit Application
