- Section::inject('page_title', 'Application Received')

.alert.alert-success
  h5 You will receive an email confirmation shortly.
  p Thanks for applying and for being willing to dedicate your skills and abilities to serve your country.
