- Section::inject('page_title', 'All Projects')

ul.projects-list
  - foreach($projects as $project):
    li
      a.project-title(href="#{ route('project', array($project->id)) }") #{$project->title}
