
- Section::inject('page_title', "$project->title")
- Section::inject('active_subnav', "view")
- Section::inject('no_page_header', true)

p
  a(href="#{route('root')}") &larr; back to application
h4= $project->title

.row
  .main-description.span6
    !{nl2br(e($project->body))}

  .span4.offset1
    a.btn.btn-warning(href="#{ route('new_vendors') }") Apply Now!
    p.more-info
      | or for more information visit <a href="http://whitehouse.gov/innovationfellows">WhiteHouse.gov</a>

